@font-face {
  font-family: "FF Mark W05", sans-serif;
  src: url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Medium.662fbc7901e31d6bee9c91d5f2cf42a1.woff2) format("woff2"), url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Medium.ef7af500d9837d3d390db15c32e93167.woff) format("woff"), url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Medium.e857052c6a4c940090ac8470ecdaf9be.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
:lang(en) {
  font-family: 'FF Mark W05', sans-serif;
}

html, body {
  margin: 0;
  top: 0;
  background-color: #afafaf;
}

.image {
  transition: .5s ease;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 2%;
}

.image:hover {
  opacity: 0.5;
}

.loginBox {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 50px 50px;
}

.loginContent {
  box-sizing: border-box;
  margin: 10% 20%;
}

.signinHeader {
  font-size: 45px;
  text-align: center;
}

input[type=text], input[type=password] {
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: #e6e6e6;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding-left: 10px;
  align-content: center;
}

input[type="checkbox"] {
  margin-bottom: 20px;
}

label[for="remember"] {
  font-size: 15px;
}

input[type="submit"] {
  background-color: #083b66;
  color: white;
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 2px;
}

input[type="submit"]:hover{
  background-color: #042642;
}

input[type="submit"]:active{
  background-color: #031a2c;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.register {
  display: inline-block;
  bottom: 0;
  text-align: left;
}

.forgot {
  display: inline-block;
  bottom: 0;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  display: block;
}

.pFooter {
  font-size: 15px;
}