@font-face {
  font-family: "Mollen";
  src: url(/font/Mollen-RegularPersonalUse.otf);
  font-style: normal;
}

html, body {
  margin: 0;
  top: 0;
  background-color: #efeeee;
}

.container {
  background-image: url("/img/congress.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  z-index: 0;
  overflow: auto;
  height: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background-color: #083b66;
  border: 0;
  width: 100%;
  margin-top: 10%;
}

.navLeft {
  float: left;
  font-family: helvetica, arial, sans-serif;
  margin-left: 20px;
}

.navRight {
  margin-right: 20px;
  float: right;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  line-height: 57px;
  padding: 20px;
  color: white;
}

.navlink:hover{
  background-color: #042642;
  border-radius: 15px;
}

.navlink:active{
  background-color: #031a2c;
  transform: translateY(4px);
}

a {
  text-decoration: none;
  line-height: 57px;
  padding: 20px;
  color: white;
}

.mailLink {
  color: black;
  text-decoration: underline;
}

.settings {
  color: black;
  text-decoration: underline;
  margin-top: auto;
  margin-bottom: auto;
  
}

p {
  padding-bottom: 50px;
}

.image {
  transition: .5s ease;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 0;
}

.image:hover {
  opacity: 0.5;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-top: 0;
  height: auto;
  background-color: #efeeee;
}

.profileContainer {
  display: flex;
  margin: 50px;
  width: 60%;
  max-height: 780px;
}

.profileLeft {
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-right: 10px;
}

.profileRight {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
}

.profilePic {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.profileImg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.profileInfo {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  width: 200px;
  height: 100%;
  padding-top: 20px;
  font-family: helvetica, arial, sans-serif;
}

.profileIssues {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profileActivity {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  flex-grow: 1;
  overflow-x: hidden;
  font-family: helvetica, arial, sans-serif;
}

.issuesCollapse {
  width: 100%;
  background-color: #083b66;
  padding: 10px 0;
  color: white;
  outline: none;
  border: none;
  font-family: "mollen";
  font-size: 20px;
}

.issuesCollapse:hover {
  background-color: #031a2c;
}

.active, .issuesCollapse {
  background-color: #083b66;
}

.issuesButton:hover {
  background-color: darkgray;
}

.issuesContent {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  background-color: rgb(250, 250, 250);
  transition: max-height 0.2s ease-out;
}

.issuesButton {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border: none;
  border-radius: 20px;
  background-color: lightgray;
  padding: 10px 20px;
  margin-right: 20px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #083b66;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.pFooter {
  padding-left: 20px;
}