@font-face {
  font-family: "Mollen";
  src: url(/font/Mollen-BoldPersonalUse.otf);
  font-style: normal;
}

html, body {
  margin: 0;
  top: 0;
  background-color: #efeeee;
}

.container {
  background-image: url("/img/congress.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  z-index: 0;
  overflow: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background-color: #083b66;
  border: 0;
  width: 100%;
  margin-top: 10%;
}

.navLeft {
  float: left;
  font-family: helvetica, arial, sans-serif;
  margin-left: 20px;
}

.navRight {
  margin-right: 20px;
  float: right;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  line-height: 57px;
  padding: 20px;
  color: white;
}

.navlink:hover{
  background-color: #042642;
  border-radius: 15px;
}

.navlink:active{
  background-color: #031a2c;
  transform: translateY(4px);
}

.image {
  transition: .5s ease;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 0;
}

.image:hover {
  opacity: 0.5;
}

.contentContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  background-color: #efeeee;
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
}

.contentHeader {
  font-family: mollen;
  font-size: 60px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ececef;
  width: 100%;
}

.contentBottom {
  background-color: white;
  padding-top: 40px;
  width: 100%;
}

.contentText {
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}

.contentButton {
  border-radius: 40px;
  background-color: #083b66;
  text-decoration: none;
  padding: 0 50px;
  margin: auto;
  text-align: center;
  outline: none;
}

.contentButton:hover {
  background-color: #042642;
}

.buttonLink {
  color: white;
  font-size: 20px;
}

.learn {
  color: #083b66;
  font-size: 20px;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #083b66;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.pFooter {
  padding-left: 20px;
}