html, body {
  margin: 0;
  top: 0;
}

.container {
  background-image: url("/img/congress.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  z-index: 0;
  overflow: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background-color: #083b66;
  border: 0;
  width: 100%;
  margin-top: 10%;
}

.navLeft {
  float: left;
  font-family: helvetica, arial, sans-serif;
  margin-left: 20px;
}

.navRight {
  margin-right: 20px;
  float: right;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  line-height: 57px;
  padding: 20px;
  color: white;
}

.navlink:hover{
  background-color: #042642;
  border-radius: 15px;
}

.navlink:active{
  background-color: #031a2c;
  transform: translateY(4px);
}

.image {
  transition: .5s ease;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 2%;
}

.image:hover {
  opacity: 0.5;
}

.content {
  margin-top: 0;
  background-color: white;
}

.contentContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 100%;
  margin-top: 0;
  height: 500px;
  padding-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.start {
  border: 2px solid #0a0a23;
  border-radius: 15px;
  background: #083b66;
  text-decoration: none;
  padding: 0 20px;
  margin: 5px;
  text-align: center;
  width: 40%;
  height: 20%;
}

.about {
  border: 2px solid #0a0a23;
  border-radius: 15px;
  background: #083b66;
  text-decoration: none;
  padding: 0 20px;
  margin: 5px;
  text-align: center;
  width: 40%;
  height: 20%;
}